<div class="product-details-meta mb-20">
    {% if wishlist_item %}
        <a  hx-post="{{ url_for('product_group.remove_wishlist_item', wishlist_item_id=wishlist_item.id) }}"
            hx-trigger="click"
            hx-target="closest .product-details-meta"
            hx-swap="outerHTML"
            class="icon-space-right"
        >
            <i class="fa-heart fa-solid bg-golden"></i>
            Remove from wishlist
        </a>
    {% else %}
        <a  hx-post="{{ url_for('product_group.add_to_wishlist', product_id=product.id) }}"
            hx-trigger="click"
            hx-target="closest .product-details-meta"
            hx-swap="outerHTML"
            class="icon-space-right"
        >
            <i class="fa-heart fa-regular"></i>
            Add to wishlist
        </a>
    {% endif %}
</div>