<div class="product-details-meta mb-20">
    {% if wishlist_item %}
        <a  hx-post="{{ url_for('product_group.remove_wishlist_item') }}"
            hx-trigger="click"
            hx-target="closest .product-details-meta"
            hx-include="find input"
            class="icon-space-right"
        >
            <input type="hidden" name="wishlist_item_id" value="{{ wishlist_item.id }}">
            <i class="fa-heart fa-solid bg-golden"></i>
            Remove from wishlist
        </a>
    {% else %}
        <a  hx-post="{{ url_for('product_group.add_to_wishlist') }}"
            hx-trigger="click"
            hx-target="closest .product-details-meta"
            hx-include="find input"
            class="icon-space-right"
        >
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <i class="fa-heart fa-regular"></i>
            Add to wishlist
        </a>
    {% endif %}
</div>