<div hx-swap-oob="true" id="cart-totals-content" class="coupon_inner">
    <div class="cart_subtotal">
        <p>Subtotal</p>
        <p class="cart_amount">₹{{ total_cart_cost }}</p>
    </div>
    <div class="cart_subtotal ">
        <p>Shipping</p>
        <p class="cart_amount bg-golden">FREE</p>
    </div>

    <div class="cart_subtotal">
        <p>Total</p>
        <p class="cart_amount">₹{{ total_cart_cost }}</p>
    </div>
    <div class="checkout_btn">
        <a hx-post="{{ url_for('checkout.create_checkout_session') }}" 
            id="checkout-button"
            class="btn btn-md btn-golden">
            Proceed to Checkout
        </a>
    </div>
</div>
