<!-- Start  Offcanvas Addcart Wrapper -->
<div hx-swap-oob="true" id="cart-content" class="offcanvas-add-cart-wrapper">
    <h4 class="offcanvas-title">Shopping Cart</h4>
    <ul class="offcanvas-cart">
        {% if cart_items %}
            {% set total_price = 0 %}
            {% for item in cart_items %}
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="{{ url_for('static', filename='images/product/' + item.product.images[0].file_name) }}" alt=""
                                class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">{{ item.product.product_name }}</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">{{ item.quantity }} x </span>
                                <span class="offcanvas-cart-item-details-price">₹{{ item.product.price }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            {% endfor %}
            <div class="offcanvas-cart-total-price">
                <span class="offcanvas-cart-total-price-text">Subtotal:</span>
                <span class="offcanvas-cart-total-price-value">₹{{ total_cart_price }}</span>
            </div>
            <ul class="offcanvas-cart-action-button">
                <li><a href="{{ url_for('product_group.cart') }}" class="btn btn-block btn-golden">View Cart</a></li>
                <li><a href="compare.html" class=" btn btn-block btn-golden mt-5">Checkout</a></li>
            </ul>
        {% else %}
            <h2 class="bg-golden">No items in Cart...</h2>
        {% endif %}
    </ul>
</div> <!-- End  Offcanvas Addcart Wrapper -->