{% extends 'base.html' %}
{% from 'macros.html' import render_breadcrumb %}

{% block content %}
    {{ render_breadcrumb(section_heading='My Account')}}

    <!-- ...:::: Start Account Dashboard Section:::... -->
    <div class="account-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a href="#dashboard" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover active">Dashboard</a>
                            </li>
                            <li> <a href="#orders" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Orders</a></li>
                            <li><a href="#address" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Addresses</a></li>
                            <li><a href="#account-details" data-bs-toggle="tab"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">Account details</a>
                            </li>
                            <li><a href="{{ url_for('logout') }}"
                                    class="nav-link btn btn-block btn-md btn-black-default-hover">logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                        <div class="tab-pane fade show active" id="dashboard">
                            <h3>Dashboard </h3>
                            <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent
                                    orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a
                                    href="#">Edit your password and account details.</a></p>
                        </div>
                        <div class="tab-pane fade" id="orders">
                            <h3>Orders</h3>
                            <div class="table_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if orders|length == 0 %}
                                            <tr>
                                                <td colspan="5" class="text-center">No orders yet</td>
                                            </tr>
                                        {% else %}
                                            {% for order in orders %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ order.created_at.strftime('%d %b, %Y') }}</td>
                                                <td><span class="success">{{ order.status.value }}</span></td>
                                                <td>₹{{ order_prices[loop.index0] }} for {{ order.order_items|length }} item </td>
                                                <td><a href="cart.html" class="view">view</a></td>  <!-- TODO: Show order items in cart-->
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="address">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <h3 class="billing-address">Billing address</h3>
                            <a href="#" class="view">Edit</a>
                            {% if address %}
                                {% if current_user.first_name %}
                                    <p><strong>{{ current_user.first_name }} {{ current_user.last_name }}</strong></p>
                                {% endif %}
                                <address>
                                    {{ address.street }},
                                    {{ address.city }},
                                    {{ address.country }},
                                    {{ address.zip_code }}
                                    {% if current_user.phone %}
                                        <abbr title="Phone">P:</abbr> {{ current_user.phone }}
                                    {% endif %}
                                </address>
                            {% else %}
                                <h4 class="warnings">Address not set</h4>
                            {% endif %}
                            <form action="{{ url_for('account') }}" method="POST" id="address-form">
                                {{ address_form.csrf_token }}
                                <div class="default-form-box mb-20">
                                    {{ address_form.street.label }}
                                    {{ address_form.street(placeholder=address.street) }}
                                </div>
                                <div class="default-form-box mb-20">
                                    {{ address_form.city.label }}
                                    {{ address_form.city(placeholder=address.city) }}
                                </div>
                                <div class="default-form-box mb-20">
                                    {{ address_form.country.label }}
                                    {{ address_form.country(placeholder=address.country) }} 
                                </div>
                                <div class="default-form-box mb-20">
                                    {{ address_form.zip_code.label }}
                                    {{ address_form.zip_code(placeholder=address.zip_code) }}
                                </div>
                                <div class="save_button mt-3">
                                    <button>{{ address_form.submit(class="btn btn-md btn-black-default-hover") }}</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="account-details">
                            <h3>Account details </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form action="{{ url_for('account') }}" method="POST">
                                            {{ account_form.csrf_token }}
                                            <div class="input-radio">
                                                {% for field in account_form.gender %}
                                                    <span class="custom-radio">{{ field }} {{ field.label }}</span>
                                                {% endfor %}
                                            </div> <br>
                                            <div class="default-form-box mb-20">
                                                {{ account_form.first_name.label }}
                                                {{ account_form.first_name }}
                                            </div>
                                            <div class="default-form-box mb-20">
                                                {{ account_form.last_name.label }}
                                                {{ account_form.last_name }}
                                            </div>
                                            <div class="default-form-box mb-20">
                                                {{ account_form.phone.label }}
                                                {{ account_form.phone }}
                                            </div>
                                            <div class="default-form-box mb-20">
                                                {{ account_form.password.label }}
                                                {{ account_form.password }}
                                            </div>
                                            <div class="default-form-box mb-20">
                                                {{ account_form.birth_date.label }}
                                                {{ account_form.birth_date }}
                                            </div>
                                            <span class="example">
                                                (E.g.: 05/31/1970)
                                            </span>
                                            <br>
                                            <label class="checkbox-default" for="offer">
                                                {{ account_form.receive_offers }}
                                                <span>{{ account_form.receive_offers.label }}</span>
                                            </label>
                                            <br>
                                            <label class="checkbox-default checkbox-default-more-text" for="newsletter">
                                                {{ account_form.signup_newsletter }}
                                                <span>{{ account_form.signup_newsletter.label }}<br><em>You may unsubscribe at any
                                                        moment. For that purpose, please find our contact info in the
                                                        legal notice.</em></span>
                                            </label>
                                            <div class="save_button mt-3">
                                                <button class="btn btn-md btn-black-default-hover"
                                                    type="submit">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Account Dashboard Section:::... -->
{% endblock %}
