{% extends "base.html" %}

{% block title %} Eflyer {% endblock %}

{% block content %}
    <div class="container other-items">
    {% for i in range(6) %}
        <div class="row">
            {% for i in range(3) %}
            <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                    <h4 class="shirt_text">Jumkas</h4>
                    <p class="price_text">Start Price <span style="color: #262626;">$ 100</span></p>
                    <div class="jewellery_img"><img src="/static/images/jhumka-img.png"></div>
                    <div class="btn_main">
                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                        <div class="seemore_bt"><a href="#">See More</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}