{% extends "base.html" %}

{% block title %} Eflyer {% endblock %}

{% block content %}
    <div class="container other-items">
        {% for item in items %}
            {% if loop.index0 % 3 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                    <h4 class="shirt_text">{{ item.name }}</h4>
                    <p class="price_text">Price : <span style="color: #262626;">₹{{ item.price }}</span></p>
                    <div class="jewellery_img"><img src="/static/images/items/{{ item.type }}/{{ item.file_name }}"></div>
                    <div class="btn_main">
                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                    </div>
                </div>
            </div>
            {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
