{% extends 'base.html' %}
{% from 'macros.html' import render_breadcrumb %}

{% block content %}    
    {{ render_breadcrumb(section_heading='Register') }}

    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer-login">
        <div class="container">
            <div class="row">
                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                        <form action="{{ url_for('register') }}" method="POST">
                            {{ form.csrf_token }}
                            {% with messages = get_flashed_messages() %}
                                {% for message in messages %}
                                    <p class="flash">{{ message }}</p>
                                {% endfor %}
                            {% endwith %}
                            <div class="default-form-box">
                                {{ form.username.label }}
                                {{ form.username }}
                            </div>
                            <div class="default-form-box">
                                {{ form.email.label }}
                                {{ form.email }}
                            </div>
                            <div class="default-form-box">
                                {{ form.password.label }}
                                {{ form.password }}
                            </div>
                            <div class="register_submit">
                                <button class="btn btn-md btn-black-default-hover">{{ form.submit }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->

{% endblock %}