{% extends 'base.html' %}
{% from 'macros.html' import render_breadcrumb %}

{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %} 
    {% if cart_items %}
    {{ render_breadcrumb('Cart', 'Shop', url_for('shop.index')) }}
    <div class="cart-section">
        <!-- Start Cart Table -->
        <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Cart Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_quantity">Quantity</th>
                                            <th class="product_total">Total</th>
                                            <th class="product_remove">Remove</th>
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    {% include 'components/cart-table-content.html' %}
                                </table>
                            </div>
                            <div class="cart_submit">
                                <button hx-post="{{ url_for('cart.update_cart_table') }}"
                                    hx-target=".cart-table-wrapper tbody"
                                    hx-include=".product_quantity input"
                                    hx-swap="outerHTML"
                                    class="btn btn-md btn-golden" type="submit">
                                    update cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->

        <!-- Start Coupon Start -->
        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div id="cart_totals" data-aos="fade-up" data-aos-delay="400">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                {% include 'components/cart-totals.html' %}
                                <div class="checkout_btn">
                                    <form action="{{ url_for('checkout.create_checkout_session') }}" method="POST">
                                        <button id="checkout-button" class="btn btn-md btn-golden" type="submit">Proceed to Checkout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Coupon Start -->
    </div> 

    {% else %}

    <div class="empty-cart-section section-fluid">
        <div class="emptycart-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                        <div class="emptycart-content text-center">
                            <div class="image">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/empty-cart/empty-cart.png' ) }}">
                            </div>
                            <h4 class="title">Your Cart is Empty</h4>
                            <h6 class="sub-title">Sorry mate... No item found inside your cart!</h6>
                            <a href="{{ url_for('shop.index') }}" class="btn btn-lg btn-golden">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}